.background{
  background-color: #fff;
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.home-ground{
  position: absolute;
  left: -130px;
  height: 100vh;
  width: 180vw;
  z-index: 9;
}

.home-container{
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo{
  margin-top: 200px;
  width: 40%;
}

.user-img{
  width: 30%;
  margin-top: 3.5rem;
  margin-bottom: 2rem;
  z-index: 99;

}

.home-buttons{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: .5rem;
}

.btn-principal, .btn-secondary{
  border: none;
  border-radius: .7rem;
  min-width: 75%;
  display: block;
  height: 35px;
  z-index: 99;
  color: #333;
}


.btn-principal-link, .btn-secondary-link{
  border: none;
  border-radius: .7rem;
  min-width: 75%;
  display: block;
  /* height: 35px; */
  z-index: 99;
  color: #333;
}

.btn-principal, .btn-principal-link{
  background-color: #FDBD00;
}

.btn-secondary, .btn-secondary-link{
  background: #DCDCDC;
}

.home-container form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

.home-container form input{
  width: 70%;
  border: 2px solid #DCDCDC;
  border-radius: .5rem;
  padding: 0 .5rem;
  height: 35px;
  z-index: 99;
}



/* SIGNUP */

.signup-screen .logo{
  margin-top: 30px;
  margin-bottom: 35px;
}



.checks{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checks label{
  font-size: 1.2rem;
  min-width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
  overflow: hidden;
}
/* 
.checks input[type="checkbox" i] {
  background-color: #333 !important;
} */


.checks input:checked {
  background: #2AC176;
 }


.left-label{
  width: 75%;
  text-align: left;
  font-size: 1.4rem;
  margin: 5px 0;
}
/* HEADER */

.header{
  background-color: #FDBD00;
  max-width: 90%;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}

.header img{
  max-width: 40%;
}

.header button{
  border: none;
  background: none;
  font-size: 2rem;
}

.sub-header{
  max-width: 94%;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub-header button{
  border: none;
  padding: .5rem;
  border-radius: .5rem;
  background-color: #333;
  color: #DCDCDC;
}

.card-home{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, .07);
  max-width: 94%;
  margin: 0 auto;
  border-radius: 1rem;
  margin-top: 2rem;
  padding: 1rem 0;
}

.card-home img{
  max-width: 100px;
  
}

.card-home > div{
  display: flex;
  flex-direction: column;
}

.card-home > div h2{
  font-size: 1.8rem;
}

.card-home > div h4{
  font-size: 1.2rem;
}


.card-home > div p{
  font-size: 1.2rem;
}

.data-container{
  overflow: scroll;
}

.categories {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.categories.active{
  display: block;
}

.categories ul{
  display: flex;
  width: 100%;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.categories ul button{
  width: 100%;
  height: 45px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .1);

}

.category__header{
  background-color: #fff;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 1rem 0;
  
}

.category__header button{
  margin-right: 1.5rem;
  border: none;
  padding: 1rem;
  border-radius: .5rem;
  font-weight: 600;
}

.category__header p{
  margin-left: 1.5rem;
}