.background{
  background-color: #fff;
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.home-ground{
  position: absolute;
  left: -130px;
  height: 100vh;
  width: 180vw;
  z-index: 9;
}

.home-container{
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo{
  margin-top: 200px;
  width: 40%;
}

.user-img{
  width: 30%;
  margin-top: 3.5rem;
  margin-bottom: 2rem;
  z-index: 99;

}

.home-buttons{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: .5rem;
}

.btn-principal, .btn-secondary{
  border: none;
  border-radius: .7rem;
  min-width: 75%;
  display: block;
  height: 35px;
  z-index: 99;
  color: #333;
}


.btn-principal-link, .btn-secondary-link{
  border: none;
  border-radius: .7rem;
  min-width: 75%;
  display: block;
  /* height: 35px; */
  z-index: 99;
  color: #333;
}

.btn-principal, .btn-principal-link{
  background-color: #FDBD00;
}

.btn-secondary, .btn-secondary-link{
  background: #DCDCDC;
}

.home-container form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

.home-container form input{
  width: 70%;
  border: 2px solid #DCDCDC;
  border-radius: .5rem;
  padding: 0 .5rem;
  height: 35px;
  z-index: 99;
}



/* SIGNUP */

.signup-screen .logo{
  margin-top: 30px;
  margin-bottom: 35px;
}



.checks{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checks label{
  font-size: 1.2rem;
  min-width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
  overflow: hidden;
}
/* 
.checks input[type="checkbox" i] {
  background-color: #333 !important;
} */


.checks input:checked {
  background: #2AC176;
 }


.left-label{
  width: 75%;
  text-align: left;
  font-size: 1.4rem;
  margin: 5px 0;
}
/* HEADER */

.header{
  background-color: #FDBD00;
  max-width: 90%;
  width: 100%;
  margin: 2rem auto;
  left: calc(50%) ;
  transform: translate(-50%, 0%);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  position: fixed;
  z-index: 9999;
}

.header img{
  max-width: 40%;
}

.header button{
  border: none;
  background: none;
  font-size: 2rem;
}

.sub-header{
  max-width: 94%;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8rem;
}

.sub-header button{
  border: none;
  padding: .5rem;
  border-radius: .5rem;
  background-color: #333;
  color: #DCDCDC;
}

.card-home{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, .07);
  max-width: 94%;
  margin: 0 auto;
  border-radius: 1rem;
  margin-top: 2rem;
  gap: 1rem;
  height: 8rem;
  overflow: hidden;
}

.card-home img{
  width: 100px;
  height: 100%;
  object-fit: cover;
  
}

.card-home > div{
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.card-home > div h2{
  font-size: 1.8rem;
}

.card-home > div h4{
  font-size: 1.2rem;
}


.card-home > div p{
  font-size: 1.2rem;
}

.data-container{
  overflow: scroll;
}

.categories {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.categories.active{
  display: block;
}

.categories ul{
  display: flex;
  width: 100%;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.categories ul button{
  width: 100%;
  height: 45px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .1);

}

.category__header{
  background-color: #fff;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 1rem 0;
  
}

.category__header button{
  margin-right: 1.5rem;
  border: none;
  padding: 1rem;
  border-radius: .5rem;
  font-weight: 600;
}

.category__header p{
  margin-left: 1.5rem;
}

.card-home{position: relative;}

.card-home button{
  position: absolute;
  right: 1rem;
  top: 1rem;
  border: none;
  font-size: 1.8rem;
  background-color: transparent;

}

.store-container{
  overflow: hidden;
}

.store-container .store-image{
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  z-index: -1;
  object-fit: cover;
  
}

.store-info{
  position: absolute;
  bottom: 0;
  height: 60%;
  background-color: #FFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
  border-radius: 3rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  width: 100%;
  z-index: 99;
  border-top: 1px solid rgba(0, 0, 0, .3);
}

.store-info-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2.5rem;
}

.store-image{
  z-index: 9999999;
}

.store-info-header h2{
  color: #333;
}

.store-info-header button{
  background-color: transparent;
  border: none;
  font-size: 2.5rem;
}

.store-info ul{
  list-style: none;
}

.menu-item img{
  position: relative;
  
}

.store-info details{
  width: 80%;
  margin: 0 auto;
  margin-top: 1.5rem;
  padding: 1.5rem;
  border: 1px solid rgba(0,0,0, .5);
  border-radius: 1.5rem;
}

details summary{
  color: #333;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

details .menu-item > div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5rem;
  background-color: #FDBD00;
  padding: 1rem;
  font-weight: 500;
  color: #333;

}

details h3{
  margin-top: 2rem;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

details img{
  width: 100%;
}

.contact-new{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap:5rem;
  /* background-color: #333; */
  position: absolute;
  bottom: 90px;
  left: calc(50%);
  transform: translate(-50%, 50%);
}

.contact-new a{
  color:#333;
  font-size: 1.4rem;
}

details>summary {
  list-style: none;
}

.bottom-menu{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99999;
  height: 3rem;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFF;
  /* border-top: 1px solid rgba(0, 0, 0, .3); */
  padding: 1rem 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .8);
}

.bottom-menu a{
  width: 100px;
  /* height: 100%; */
  font-size: 2.5rem;
  color: #333;
}

.botton-user img{
  width: 30px;
  object-fit: cover;
  border-radius: 5rem;
}