.background{
  background-color: #fff;
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.home-ground{
  position: absolute;
  left: -130px;
  height: 100vh;
  width: 180vw;
  z-index: 9;
}

.home-container{
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo{
  /* margin-top: 200px; */
  width: 40%;
}

.user-img{
  width: 30%;
  margin-top: 3.5rem;
  margin-bottom: 2rem;
  z-index: 99;

}

.home-buttons{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: .5rem;
}

.btn-principal, .btn-secondary{
  border: none;
  border-radius: .7rem;
  min-width: 75%;
  display: block;
  height: 35px;
  z-index: 99;
  color: #333;
}


.btn-principal-link, .btn-secondary-link{
  border: none;
  border-radius: .7rem;
  display: block;
  /* height: 35px; */
  z-index: 99;
  color: #333;
}

.btn-principal, .btn-principal-link{
  background-color: #FDBD00;
}

.btn-secondary, .btn-secondary-link{
  background: #DCDCDC;
}

.home-container form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

/* SIGNUP */

.signup-screen .logo{
  margin-top: 30px;
  margin-bottom: 35px;
}



.checks{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checks label{
  font-size: 1.2rem;
  min-width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
  overflow: hidden;
}
/* 
.checks input[type="checkbox" i] {
  background-color: #333 !important;
} */


.checks input:checked {
  background: #2AC176;
 }


.left-label{
  width: 75%;
  text-align: left;
  font-size: 1.4rem;
  margin: 5px 0;
}
/* HEADER */

.header{
  background-color: #FFF;
  width: 100%;
  margin: 0rem auto;
  left: calc(50%) ;
  transform: translate(-50%, 0%);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  position: fixed;
  z-index: 9999;
}

.header span{
  padding-right: 1rem;
}
.header img{
  max-width: 40%;
  padding-left: 1rem;
}

.header button{
  border: none;
  background: none;
  font-size: 2rem;
  ;
}

.sub-header{
  max-width: 94%;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8rem;
}

.sub-header button{
  border: none;
  padding: .5rem;
  border-radius: .5rem;
  background-color: #333;
  color: #DCDCDC;
}

.card-home{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #FFF;
  max-width: 90%;
  margin: 0 auto;
  border-radius: .5rem;
  margin-top: 2rem;
  gap: 1rem;
  height: 8rem;
  overflow: hidden;
}

.card-home img{
  width: 100px;
  height: 100%;
  object-fit: cover;
  
}

.card-home > div{
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.card-home > div h2{
  font-size: 1.8rem;
  font-weight: 500;
}

.card-home > div h4{
  font-size: 1.2rem;
  font-weight: 600;
}


.card-home > div p{
  font-size: 1.2rem;
}

.data-container{
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.032);
}

.categories {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.categories.active{
  display: block;
}

.categories ul{
  display: flex;
  width: 100%;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.categories ul button{
  width: 100%;
  height: 45px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .1);

}

.category__header{
  background-color: #fff;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 1rem 0;
  
}

.category__header button{
  margin-right: 1.5rem;
  border: none;
  padding: 1rem;
  border-radius: .5rem;
  font-weight: 600;
}

.category__header p{
  margin-left: 1.5rem;
}

.card-home{position: relative;}

.card-home button{
  position: absolute;
  right: 1rem;
  top: 1rem;
  border: none;
  font-size: 1.8rem;
  background-color: transparent;

}

.store-container{
  overflow: hidden;
}

.store-container .store-image{
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  z-index: -1;
  object-fit: cover;
  
}

.store-info{
  position: absolute;
  bottom: 0;
  height: 60%;
  background-color: #FFF;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, .1);
  border-radius: 3rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  width: 100%;
  z-index: 99;
  border-top: 1px solid rgba(0, 0, 0, .3);
}

.store-info-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2.5rem;
}

.store-image{
  z-index: 9999999;
}

.store-info-header h2{
  color: #333;
}

.store-info-header button{
  background-color: transparent;
  border: none;
  font-size: 2.5rem;
}

.store-info ul{
  list-style: none;
}

.menu-item img{
  position: relative;
  
}

.store-info details{
  width: 80%;
  margin: 0 auto;
  margin-top:1.5rem;
  padding: 1.5rem;
  border: 1px solid rgba(0,0,0, .5);
  border-radius: 1.5rem;
}

.store-info details:nth-child(4){
  margin-bottom: 20rem;
}

details summary{
  color: #333;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

details .menu-item > div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 2.5rem; */
  /* padding: 1rem; */
  /* font-weight: 500; */
  color: #333;
}

.cover-header{
  background-color: #FDBD00;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: 3rem;
  padding: 0 1rem;
  margin-top: 1rem;
}

.cover-amount{
  /* background-color: rgb(113, 113, 113); */
}

.cover-amount h3{
  padding-left: 1rem;
  /* color: #DCDCDC; */
}

.cover-buttons{
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, .1);
}

.cover-buttons input{
  width: 3rem;
  height: 2.5rem;
  border: none;
  text-align: center;
}

.cover-buttons button{
  width: 3rem;
  height: 3rem;
  border: none;
  font-size: 2.5rem;
}

.cover-total{
  padding: 0 1rem;
  height: 2.5rem;
  background-color: rgb(107, 106, 106);
}

.cover-total h3{
  color: #DCDCDC !important;
}
.cover-total p{
  color: #DCDCDC !important;
}
details h3{
  margin-top: 2rem;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

details img{
  width: 100%;
}

.contact-new{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap:5rem;
  /* background-color: #333; */
  position: fixed;
  bottom: 90px;
  left: calc(50%);
  transform: translate(-50%, 50%);
  
}

.contact-new a{
  color:#333;
  font-size: 1.4rem;
}

details>summary {
  list-style: none;
}


.bottom-menu{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99999;
  height: 4rem;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFF;
  /* border-top: 1px solid rgba(0, 0, 0, .3); */
  /* padding: 1rem 0; */
  padding-bottom: 2.5rem;
  padding-top: .5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .8);
}

.bottom-menu a{
  width: 100px;
  /* height: 100%; */
  font-size: 2.2rem;
  color: #333;
}

.botton-user img{
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 5rem;
  border: 2px solid #FDBD00;
}

.profile-info{
  width: 100%;
  padding-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile-info img{
  width: 100px;
  height: 100px;
  border-radius: 5rem;
  margin: 0 auto;
  object-fit: cover;
}

.profile-status{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  text-align: center;
  padding-top: 2rem;
}

.profile-status p {
  font-weight: 600;
}

.profile-status span{
  font-size: 1.4rem;
}

.profile-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
}

.profile-buttons button{
  border: 1px solid rgba(0, 0, 0, .3);
  background-color: transparent;
  height: 4rem;
  width: 130px;
}

.profile-buttons button:last-child{
  height: 4rem;
  width: 4rem;
  font-size: 2.5rem;
}

.profile-bio{
  text-align: center;
  margin-top: 1.5rem;
  font-size: 1.2rem;
  font-weight: 300;
}

.profile-shared{
  text-align: center;
  padding: 3.5rem;
}

.profile-shared h3{
  font-weight: 400;
  font-size: 1.6rem;
}

.profile-shared p{
  font-size: 1.2rem;
  color: rgba(0, 0, 0, .5);
  margin-top: .5rem;
}

.profile-shared a{
  color: #FDBD00;
}

.profile-complete{
  padding: 1rem;
  background-color: rgba(0, 0, 0, .03);
}

.profile-complete h3{
  font-weight: 500;
  font-size: 1.6rem;
}

.profile-complete p{
  font-size: 1.2rem;
}

.profile-complete p span{
  color: #FDBD00;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.complete-content{
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.complete-box{
  background-color: #fff;
  padding: 2rem;
border: 1px solid rgba(0, 0, 0, .05);
  text-align: center;
}

.complete-box i{
  font-size: 2rem;
}

.complete-box h4 {
  font-weight: 400;
  font-size: 1.4rem;
}

.complete-box p{
  color: rgba(0, 0, 0, .5);
  font-size: 1rem;
  margin-top: .3rem;
}

.complete-box button{
  background-color: #FDBD00;
  color: #fff;
  border: none;
  padding: .5rem 2rem;
  margin-top: 1rem;
}
.header-coin{
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: 1.8rem !important;
}

.login{
  background: rgba(0, 0, 0, .05);
  display: flex;
  align-items: center;
  justify-content: center;
}

.register{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, .05);
}

.register a{
  color: #333;
}

.register input{
  width: 90%;
  height: 4rem;
  border-radius: .5rem;
  border: none;
  padding: 0 1rem;
}

.home-login{
  background-color: rgba(0, 0, 0, .05);
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-login p{
  margin-bottom: 5rem;
}

.home-login a{
  height: 3rem;
  width: 90%;
  padding-top: 1rem;
}

.login .input-form{
  background-color: #FFF;
  border-radius: 1rem;
  border: none;
  height: 3rem;
  width: 90%;
  padding: 1rem;
  display: flex;
  align-items: center; 
  gap: .5rem;
}

.login .input-form i{
  font-size: 1.8rem;
  color: rgba(0, 0, 0, .58)
}

.login .input-form input{
  all: unset;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
  
}

.login-copy{
  font-size: 1.4rem;
  margin-top: .5rem;
  color: rgba(0, 0, 0, .8);
}

.login form{
  margin-top: 6rem;
}

.login a{
  color: rgba(0, 0, 0, .8);
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.home-buttons .btn-principal{
  width: 93%;
  height: 4.5rem;
}

.search-form{
  width: 86%;
  margin: 0 auto;  
  margin-top: 6rem;
  display: flex;
  align-items: center;
  height: 1.8rem;
  background-color: #FFF;
  padding: 1rem;
  border-radius: 5rem;
}

.search-form i{
  font-size: 2rem;
}

.search-form input{
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}

.store-categories{
  display: flex;
  gap: 1.4rem;
  width: 90%;
  margin: 2rem auto;
  margin-bottom: 0;
  /* background-color: #FFF; */
  width: 100%;
  /* padding: 0 2rem; */
  justify-content: center;
}

.store-categories button{
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 1.6rem;
  background-color: #FFF;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
  font-size: 1.4rem;
}
.danger{
  width: 100%;
  display: flex;
}
.btn-danger{
  width: 90%;
  margin: 0 auto;
  height: 4rem;
  background-color: red;
  opacity: .9;
  border: none;
  color: #DCDCDC;
  font-size: 1.6rem;
  font-weight: 600;
}

.menu-screen{
  position: relative;
  background-color: #FFF;
  height: 90vh;
  z-index: 99;
  padding-top: 6rem;
  padding-bottom: 15rem;
}

.menu-screen img{
  width:  70px;
  height: 70px;
  border-radius: 50rem;
}

.menu-screen-item:last-child{
  padding-bottom: 7rem;
}
.menu-screen-item h3{
  font-weight: 500;
  /* margin-bottom: 1rem; */
  padding: 2rem;
}

.screen-item-cog{
  display: flex;
  /* flex-direction: row-reverse; */
  align-items: center;
  justify-content: left;
  padding:2rem 2rem;
  background-color: #FFF;
  gap: 1rem;
}

.screen-item-cog > div{
  display: flex;
  flex-direction: column;
}

.screen-item-cog > div span{
  font-size: 1.4rem;
  font-weight: 500;
  text-align: left;
}

.screen-item-cog > div .item-name{
  font-size: 1.4rem;
  font-weight: 400;
}

.screen-item-cog > div p{
  font-size: 1.2rem;
  color: rgba(0, 0, 0, .6);
  margin-bottom: 1rem;
  max-width: 98%;
  text-align: left;
}

.buttons-item{
  padding: 2.5rem;
  /* width: 100%; */
}

.buttons-item button{
  width: 100%;
  height: 4rem;
  border: none;
  font-size: 1.6rem;
  border-radius: 1rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  border: 1px solid rgba(0, 0, 0, .5);
  background-color: #fff;
}

.back-btn{
  background-color: transparent;
  border: none;
  padding:0 2rem;
  font-size: 2rem;
  font-size: 1.6rem;
}

.back-btn-link{
  /* display: block; */
  background-color: #FFF;
  width: 8%;
  text-align: left;
  position: fixed;
  top: 0;
  z-index: 99999;
  height: 3rem;
  font-size: 3rem;
  padding-left: 1rem;
  padding-top: .8rem;
  color: #333;
}

.menu-screen .order-btn{
  width: 100%;
  position: absolute;
  /* bottom: 0px; */
  z-index: 9999999;
}

.footer-price{
  position: fixed;
  bottom: 0;
  height: 100%;
  z-index: 999999;
  width: 100%;
  background-color: #FFF;
  height: 7rem;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  /* display: none; */
}

.footer-price h3{
  margin-top: 2rem;
}

.pay-btn{
  height: 4rem;
  border: none;
  background-color: #FDBD00;
  color: #FFF;
  font-weight: 600;
  width: 7rem;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
}


.order-btn{
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 5rem;
  border: none;
  font-size: 2.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
  margin-top: 1.5rem;
  margin-left: 1rem;
}

.footer-container{
  position: fixed;
  width: 100%;
  bottom: -85rem;
  height: 85rem;
  background-color: #FFF;
  z-index: 9999999999;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, .1);
  border-radius: 2rem;
  transition: all .5s ease-in-out;
}
.footer-container.active{
  bottom: 0rem;
}

.footer-container h2{
  padding-left: 1rem;
  text-align: center;
  margin-top: -3.5rem;
}

.footer-container header{
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

.footer-container header button{
  background-color: transparent;
  border: none;
  font-size: 2rem;

}

.partiaf-loog-menu{
  width: 2.2rem;
}




.back-btn{
  background-color: #FFF;
  width: 10%;
  text-align: left;
  position: fixed;
  top: 0;
  z-index: 999999999999999;
  height: 4rem;
  font-size: 3rem;
  padding-left: 1rem;
  padding-top: .8rem;
}

.menu-screen > h3{
  padding: 1rem;
}

.screen-item-cog-chair{
  display: flex;
  justify-content: flex-start;
}

.screen-item-cog-chair > div{
  display: flex;
  flex-direction: column;
  padding:1rem 2rem;
}

.screen-item-cog-chair .limit{
}

.screen-item-cog-chair > div span{
  font-size: 1.4rem;
  font-weight: 500;
}

.screen-item-cog-chair > div .item-name{
  font-size: 1.4rem;
  font-weight: 400;
}

.screen-item-cog-chair > div p{
  font-size: 1.2rem;
  color: rgba(0, 0, 0, .6);
  margin-bottom: 1rem;
  max-width: 98%;
}

.qr-screen{
  position: absolute;
  background-color: #FFF;
  top: 0;
  width: 100%;
  height: 110%;
  z-index: 99;
  padding-bottom: 15rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  padding-top:7rem;
}

.qr-screen h3{
  margin-bottom: 2rem;
  width: 80%;
  text-align: left;
  
}

.qr-screen button{
  margin-top: 2rem;
  width: 80%;
  height: 4rem;
  border: none;
  background-color: #FDBD00;
  font-weight: 600;
  font-size: 1.6rem;
  color: #fff;
}

.qr-screen form{
  width: 90%;
  margin-top: 2rem;
}

.qr-screen .placeholder-btn{
  width: 100%;
  border: none;
  color: #FFF;
  font-weight: 600;
  font-size: 1.6rem;
  border-radius: .5rem;
}

.btn-pay{
  width: 90% !important;
  text-align: center;
  background-color: #FDBD00;
  color: #fff;
  /* margin-bottom: 2rem; */
  height: 4rem;
  border-radius: .5rem;
}

.btn-pay-link{
  background-color: #FDBD00;
  width: 90%;
  color: #fff;
  border-radius: .5rem;
  margin-top: 2rem;
  font-weight: 600;

}
.menu-screen{
  background-color: #e7e7e7;
  /* z-index: 999999999999999999999; */
}

.menu-screen h3{
  z-index: 9999999999999;
}

.menu-cat{
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
}

.menu-cat > div{
  background-color: #fff;
  padding: .5rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .03);
}

.screen-item-cog img{
  height: 100%;
  /* width: 100px; */
  border-radius: 0;
}

.amount{
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  /* gap: 2rem; */
  background-color: #FFF;
  /* border: 1px solid rgba(0, 0, 0, .3); */
}

.amount button{
  background-color: #333;
  color: #DCDCDC;
  /* height: 3rem; */
  width: 3rem;
  font-size: 2rem;
  border: none;
}

.amount .input{
  /* height: 100px; */
  width: 35px;
  border: none;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  /* padding-top: .5rem; */
  margin: 0;
}

.amount .trash-btn{
  background-color: transparent;
  color: #333;
  font-size: 2.5rem;
  margin: 0;
}

.amount .no-btn{
  background-color: transparent;
}

.screen-item-cog{
  /* margin-top: 2rem; */
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.menu-screen-item .price{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 14rem;
}
.placeholder-btn{
  width: 100%;
  height: 4rem;
  background-color: #FDBD00;
}


.cart-content{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.cart-item .cart-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.cart-item p{
  font-size: 1.4rem;
}



.cart-item h4 span{
  border: 1px solid rgba(0, 0, 0, .2);
  padding: .5rem;
}

.main-credits{
  padding: 6rem 2rem;
}

.balance-card{
  min-height: 30px;
  width: 95%;

  box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
  margin-top: 1rem;
  border-radius: 1rem;
  padding: 1rem;
}

.balance-card h2{
  display: flex;
  align-items: center;
  gap: .5rem;
}

.balance-card img{
  width: 3rem;
}

.m-top{
  margin-top: 3rem;
}

.info-card{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
}

.info-card:first-child{
  border-bottom: 1px solid rgba(0, 0, 0, .2) ;
}

.info-card i{
  font-size: 3rem;
}

.info-user{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: .5rem;
  width: 100%
}

.info-user img{
  width: 8rem;
  height: 8rem;
  border-radius: 5rem;
}

.info-user h3{
  font-size: 1.4rem;
  text-align: center;
  margin-right: 0 !important;
  margin-bottom: 0;
}

.info-user a{
  margin-bottom: 5rem;
  font-size: 1.2rem;
  padding-top: 0;
}